.message {
        color: rgb(1, 39, 1);
        background : lightgray;
        border-style: dashed ;
        border-color: black;
        font-size: 15px;
        padding: 10px;
        margin-bottom: 10px;
}

.error {
    color: red;
    background: lightgrey;
    font-size: 15px;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}